<!DOCTYPE html>
<html>
<head>
	<head> 
	  <meta charset="utf-8">
	  <title>Miri and her favourite cartoons</title>
	  <!-- <link rel="stylesheet" href="css/normalize.css"> -->
	  <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400italic,700,700italic,800' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Meie+Script|Molle:400italic' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="css/main.css">
	  <link rel="stylesheet" href="css/responsive.css">
	  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	  
	  <script src="js/appcartoon.js" async></script>
	  <script src="js/MainController.js" async></script>
	  <!-- <script src="js/jquery-3.1.1.js"></script> -->
	  <!-- <link rel="stylesheet" href="css/responsive.css"> -->
	 <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	</head>
	

</head>
<body ng-app="myApp" ng-cloak>
<div id="wrapper" ng-controller="MainController">
<header>
	<h1 ng-click="over1()">Miri's favourite cartoons</h1>
</header>

	<h3>Мультсериалы<h3>
	<ul class="gallery" id="serial">
		<li ng-repeat="cartoon in cartoons| orderBy: 'created_at':true "><img ng-src="{{cartoon.imageprev}}" alt="Cartoon"  ng-click="over(cartoon.clickId)">			
		</li>
		
	</ul>
	
	<h3>Полнометражные мультфильмы <h3>
	<ul class="gallery" id="film">
		<li ng-repeat="film in films| orderBy: 'created_at':true "   ><img ng-src="{{film.imageprev}}" alt="Film"  ng-click="overfilm(film.clickId)">			
		</li>
	</ul>	
	
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
	
	<div id="overlay" >
		<div class="wrap">
			<iframe allowfullscreen="" frameborder="0"  ng-src="{{overview.linkto | trusted}}" ></iframe>'
			<h5>{{overview.title}}</h5>
			<a ng-href="{{overview.ordinary_link}}" target="_blank">Смотреть еще  </a>			
		</div>
	</div>
	
	<div id="overlayfilm">
			
			<div class="wrap">
				<!-- <img src="img/closebtn.jpg" id="close" > -->
				<div><img ng-src="{{overviewfilm.imageprev}}"  ></div>
				<h5>{{overviewfilm.title}}</h5>
				<a ng-href="{{overviewfilm.ordinary_link}}" target="_blank">Смотреть на сайте  </a>			
			</div><!-- width="480" height="270" -->
		</div>
		
</div>





	
</body>
</html>










